# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Бэкапы
*.bak
*.tmp
*.old
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp

# Секреты
.env
.env.local
config.secret.js
client/assets/models/_orig/
